input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0A0A0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#container0 {
    color: #DEDEE2;
    font-size: 1.70rem;
}

#container1 {
    width: 50vw;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

#container1 > * {
    background: linear-gradient(#b9b9cc, #6f6f7a);
    color: #000000;
    border: none;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: all 0.4s;
}

#container1 button:hover {
    cursor: pointer;
    background-color: #6b6b75;
}

#colorDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    font-size: 1.5rem;
    width: 20vw;
}

#colorDiv:hover {
    cursor: pointer;
    
}

#colorInput {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    width: 5rem;
    height: 2rem;
}

#colorOptions {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.4rem;
}

#colorOptions > * {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #0A0A0F;
    transition: all 0.4s;
}

#colorOption > *:hover {
    background-color: #727277;
}



#container1 #pixelsInput {
    width: 10vw;
    text-align: center;
    
}

#container2 {
    width: 27rem;
    height: 60rem;
    border: 8px solid #8F8F9E;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#pixel {
    background-color: #DEDEE2;
    border: 1px solid #0A0A0F;
}

